.booklist {
  margin: 5% 2% 2% 5%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 5px; */
  flex-wrap: wrap;
  text-align: center;
}

.booklist .book {
  /* border: 1px solid red; */
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  align-items: center;
  align-self: flex-start; /* ensures book aligns to the top of the flex cont */
}

.booklist .book .coverIMG {
  width: 160px;
  height: 260px;
  object-fit: fill; /* img covers the set dimensions w/o distorting */
}

.booklist .book .title {
  font-size: var(--fs-xxsm);
  font-family: var(--ff-info);
  text-transform: uppercase;
  max-width: 210px; /* matches the width of cover img */
  word-wrap: break-word;
}

.booklist .book:hover {
  color: var(--clr-black);
  background-color: var(--clr-white);
}